body{
    background-color: #e2e2e2;
}
a{
    text-decoration: none;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    color: #f2f2f2;
}
a:hover{
    color: #627aad;
}
#About{
    width: 400px;
    background-color: #f2f2f2;
    height: 400px;
    position: relative;
    left: 75px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    box-shadow: 5px 5px 5px #808080;
}
#Title{
    text-indent: 80px;
    font-size: 15px;
    font-family:"lucida grande",tahoma,verdana,arial,sans-serif;
    color: #e2e2e2;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(215, 221, 254)),
        color-stop(1, rgb(161, 175, 206)),
        color-stop(1, rgb(175, 187, 213))
        );
    box-shadow: 2px 2px 5px #808080;
}
#SubscriptionsTable{
    background-color: #808080;
    width: 400px;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 20px;
    position: relative;
    left: 50px;
    top: 30px;
}
#SubscriptionWhiteSpace{
    background-color: #f2f2f2;
    width: 500px;
    height: 600px;
    position: relative;
    left: 100px;
    box-shadow: 5px 5px 5px #808080;
    overflow: auto;
}
#Login{
    background-color: #808080;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
    color: #f2f2f2;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    position: relative;
    left: 45px;
}
#InsertCustomerProfile{
    background-color: #808080;
    width: 350px;
    height: 60px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
    color: #f2f2f2;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    position: relative;
    left: 45px;
}
#InsertPictureTable{
    background-color: #808080;
}
#DisplayPicProfile{
    width: 350px;
    box-shadow: 5px 5px 5px black;
    border: #627aad;
}
#DisplayPicBprofile{
    position: absolute;
    width: 600px;
    box-shadow: 5px 5px 5px black;
    border: #627aad;
}
#PictureBTable{
    background-color: #808080;
    width: 600px;
    box-shadow: 5px 5px 5px black;
}
#EditBusinessProfile{
    background-color: #808080;
    width: 300px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    left: 30px;
    top: 25px;
    box-shadow: 5px 5px 5px black;
}
#InsertBprofile{
    background-color: #808080;
    width: 400px;
    padding-left: 5px;
    padding-right: 5px;
    position: relative;
    left: 30px;
    top: 25px;
    box-shadow: 5px 5px 5px black;
}
#BprofileWhiteSpace{
    background-color: #f2f2f2;
    width: 365px;
    height: 300px;
    position: relative;
    left: 75px;
    box-shadow: 5px 5px 5px black;
}
#SubscribedCustomers{
    overflow: auto;
    background-color: #808080;
    width: 500px;
    position: relative;
    left: 30px;
    box-shadow: 5px 5px 5px black;
}
#EmailList{
    position: absolute;
    left: 600px;
    top: 200px;
    box-shadow: 5px 5px 5px black;
}
#tdEmail{
    overflow: auto;
    background-color: white;
    height: 50px;
    text-align:left;
    width: 350px;
    padding-left: 5px;
}
#Registration{
    background-color: #808080;
    width: 600px;
    height: 100px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
    color: #f2f2f2;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    position: relative;
    left: 45px;
}
#LoginWhiteSpace{
    background-color: #f2f2f2;
    width: 450px;
    position: relative;
    left: 75px;
    height: 150px;
    padding-top: 25px;
    box-shadow: 5px 5px 5px black;
}
#RegistrationWhiteSpace{
    background-color: #f2f2f2;
    width: 700px;
    position: relative;
    left: 75px;
    height: 150px;
    padding-top: 25px;
    box-shadow: 5px 5px 5px black;
}

#hd {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    font-size: 25px;
    font-weight: bolder;
    line-height: 16px;
    font-stretch: ultra-expanded;
    color: #f2f2f2;
    height: 10px;
    padding: 1em;
    box-shadow: 2px 2px 5px #808080;
    /* Cross-browser gradient fill for the header */
    background-image: linear-gradient(top, rgb(121,141,185) 5%, rgb(59, 89, 152) 100%, rgb(98,122,173) 100%);
    background-image: -o-linear-gradient(top, rgb(121,141,185) 5%, rgb(59, 89, 152) 100%, rgb(98,122,173) 100%);
    background-image: -moz-linear-gradient(top, rgb(121,141,185) 5%, rgb(59, 89, 152) 100%, rgb(98,122,173) 100%);
    background-image: -webkit-linear-gradient(top, rgb(121,141,185) 5%, rgb(59, 89, 152) 100%, rgb(98,122,173) 100%);
    background-image: -ms-linear-gradient(top, rgb(121,141,185) 5%, rgb(59, 89, 152) 100%, rgb(98,122,173) 100%);

    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(121,141,185)),
        color-stop(1, rgb(59, 89, 152)),
        color-stop(1, rgb(98,122,173))
        );
}
#NavigationMenu{
    background-color: #e2e2e2;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(226, 226, 226)),
        color-stop(1, rgb(128, 128, 128)),
        color-stop(1, rgb(153,153,153))
        );
}
#IndexFilter{
    position: relative;
    left: 100px;
    width: 600px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(215, 221, 254)),
        color-stop(1, rgb(161, 175, 206)),
        color-stop(1, rgb(175, 187, 213))
        );
    box-shadow: 2px 2px 5px #808080;
}
#IndexFilter2{
    position: absolute;
    top: 163px;
    left: 25px;
    width: 600px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(215, 221, 254)),
        color-stop(1, rgb(161, 175, 206)),
        color-stop(1, rgb(175, 187, 213))
        );
    box-shadow: 2px 2px 5px #808080;
}
#SubscribedFilter{
    position: relative;
    left: 30px;
    width: 500px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(215, 221, 254)),
        color-stop(1, rgb(161, 175, 206)),
        color-stop(1, rgb(175, 187, 213))
        );
    box-shadow: 5px 5px 5px black;
}
#CustomerImage{
    width: 60px;
    height: 60px;
}
#bProfile{
    background-color: gainsboro;
    width: 400px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 2px 2px 5px black;
}
#bMenu{
    background-color: gainsboro;
    position: relative;
    height: 500px;
    width: 450px;
    box-shadow: 2px 2px 5px black;
    border-radius: 20px;
}
#menuTitle{
    background-color: #cccc00;
    height: 50px;
    box-shadow: 2px 2px 5px black;
}
#bProfileTable{
    position: relative;
    top: 20px;
    left: 25px;
    border-radius: 15px;
}
#pgTitle{
    background-color: #cccc00;
}
#PendingBusers{
    background-color: #808080;
    width: 500px;
    overflow: auto;
}
#SubmitPost{ 
    height: 50px;
    width: 400px;
}
#CustomerReviews{
    overflow: auto;
    height: 500px;
    width: 800px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(215, 221, 254)),
        color-stop(1, rgb(161, 175, 206)),
        color-stop(1, rgb(175, 187, 213))
        );
}
#TableReviews{
    width: 700px;
    box-shadow: 5px 5px 5px black;
    background-color: #f2f2f2;
    box-shadow: 5px 5px 5px black;
}
#PostReview{
    position: relative;
    padding-top: 10px;
}
#GreySpaceForPost{
    background-color: #808080;
    width: 600px;
    box-shadow: 5px 5px 5px black;
}
#inner{
    padding-top: 20px;
}
#timeForReview{
    background-color: gainsboro;
}
th{
    text-align: left;
    font-size: 25px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(215, 221, 254)),
        color-stop(1, rgb(161, 175, 206)),
        color-stop(1, rgb(175, 187, 213))
        );
    box-shadow: 2px 2px 5px #808080;
}
#BusinessImage{
    width: 450px;
    height: 250px;
}
.SpecialsScroll{
    overflow: auto;
    height: 650px;
    width: 600px;
    position: relative;
    left: 100px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #808080;
}
.SpecialsScroll2{
    overflow: auto;
    height: 600px;
    width: 600px;
    position: absolute;
    top: 195px;
    left: 25px;
    background-color: #f2f2f2;
    box-shadow: 2px 2px 5px #808080;
}
#PostASpecial{
    background-color: #627aad;
    width: 500px;
    height: 60px;
    padding-top: 10px;
    box-shadow: 5px 5px 5px black;
    color: #f2f2f2;
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif;
    position: relative;
    left: 630px;
}
#NavigationButton:hover{
    background-color: #627aad;
}
#Chalkboard{
    background-image: url('pictures/chalkboard.jfif');
    font-family: cursive;
    color: white;
}
#SpecialsTable{
    width: 450px;
    box-shadow: 5px 5px 5px #808080;
    position: relative;
    left: 50px;
    background-image: -webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0.05, rgb(226, 226, 226)),
        color-stop(1, rgb(128, 128, 128)),
        color-stop(1, rgb(153,153,153))
        );
}
#BusinessInformationTable{
    width: 600px;
    font-size: 20px;
    background-color: #cccccc;
    box-shadow: 5px 5px 5px black;
}
#BusinessProfile{
    width: 400px;
    font-size: 20px;
    background-color: #cccccc;
    box-shadow: 5px 5px 5px black;
    position: absolute;
    left: 550px;
}
#RateBusiness{
    background-color: #808080;
}
#SubscribeReview{
    background-color: #f2f2f2;
    width: 600px;
    box-shadow: 5px 5px 5px black;
}
#scontent{
    margin: 1em;
    font-size: large;
    width: 60%;
}
.starRating:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}

.starRating:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}

.starRating:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('pictures/star-off.svg');
    background-size : contain;
}

.starRating:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('pictures/star-on.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
}
.starRating:not(old) > label:hover:before,
.starRating:not(old) > label:hover ~ label:before,
.starRating:not(:hover) > :checked ~ label:before{
    opacity : 1;
}
.starRatingAvg:not(old){
    display        : inline-block;
    width          : 7.5em;
    height         : 1.5em;
    overflow       : hidden;
    vertical-align : bottom;
}
.starRatingAvg:not(old) > input{
    margin-right : -100%;
    opacity      : 0;
}
.starRatingAvg:not(old) > label{
    display         : block;
    float           : right;
    position        : relative;
    background      : url('pictures/star-off.svg');
    background-size : contain;
}
.starRatingAvg:not(old) > label:before{
    content         : '';
    display         : block;
    width           : 1.5em;
    height          : 1.5em;
    background      : url('pictures/star-on.svg');
    background-size : contain;
    opacity         : 0;
    transition      : opacity 0.2s linear;
}
.starRatingAvg:not(old)> label.star :before{
    opacity: 1;
}
.starRatingAvg:not(old) > label:hover:before,
.starRatingAvg:not(old) > label:hover ~ label:before,
.starRatingAvg:not(:hover) > :checked ~ label:before{
    opacity : 1;
}
